@page "/depreciations"
@using ObaidiP4.Shared

<h1 style="font-family:'Bookman Old Style'; font-size:x-large">Depreciation Calculator</h1>
<EditForm OnValidSubmit="CalcDepreciation"
          Model="@ClassMenu">
    <DataAnnotationsValidator />
    <div class="form-group row mb-1">
        <label class="col-sm-3 col-form-label"
               for="StartValue">Start Value: </label>
        <div class="col-sm-9">
            <input type="number" class="form-control" @bind="@startValue" />
        </div>
    </div>
    <div class="form-group row mb-1">
        <label class="col-sm-3 col-form-label"
               for="SalvageValue">Salvage Value:</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" @bind="@salvageValue" />
        </div>
    </div>
    <div class="form-group row mb-1">
        <label class="col-sm-3 col-form-label"
               for="LifeTime">Estimated Life Time of Asset:</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" @bind="@lifeTime" />
        </div>
    </div>
    <div class="form-group row mb-1">
        <label class="col-sm-3 col-form-label"
               for="Age">Age of Aseet in Years:</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" @bind="@age" />
        </div>
    </div>

    <div class="form-group row mb-1">
        <label class="col-sm-3 col-form-label">Type of Depreciation</label>
        <div class="col-sm-9">
            @foreach (var type in ClassMenu.DepreciationType)
            {
                <input type="radio" name="depreciationType" value="@type" id="@(type)"
                       checked="@(radioValue.Equals(type, StringComparison.OrdinalIgnoreCase))" @onchange="OnChange" />
                <label for="@type">@type</label>
            }
        </div>
    </div>
    <div class="form-group mb-0">
        <button type="submit"
                id="BtnRegister" class="btn btn-primary">
            Calculate
        </button>
        <button class="btn btn-success" type="reset"
                @onclick="@(() => Clear())">
            Clear
        </button>
    </div>
    <div>
        <label style="padding:5px"> Result: @summary </label>
    </div>
    <div>
        <LineChart InputLabels="@radioValue"
                   InputSeries1="@dataStr"
                   XAxisLabels="@yearsStr"> </LineChart>
    </div>
</EditForm>

@code {

    private BaseClass ClassMenu = new BaseClass();
    private double startValue, salvageValue;
    private int age, lifeTime;
    private string summary, radioValue = " ";
    private string dataStr = "", yearsStr = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CalcDepreciation();
        Clear();
        StateHasChanged();
    }

    private void OnChange(ChangeEventArgs args)
    {
        radioValue = args.Value.ToString();
    }

    private void CalcDepreciation()
    {
        List<int> yearsList = new List<int>();

        for (int i = 0; i <= age; ++i)
        {
            yearsList.Add(i);
        }
        yearsStr = String.Join(',', yearsList);

        if (radioValue == "Straight Line")
        {
            ClassMenu.DepreciationStraightLine.StartValue = startValue;
            ClassMenu.DepreciationStraightLine.SalvageValue = salvageValue;
            ClassMenu.DepreciationStraightLine.LifeTime = lifeTime;
            ClassMenu.DepreciationStraightLine.Age = age;
            summary = ClassMenu.DepreciationStraightLine.ToString() + radioValue;
            dataStr = ClassMenu.DepreciationStraightLine.str;
        }
        else if (radioValue == "Double Declining")
        {
            ClassMenu.DepreciationDoubleDeclining.StartValue = startValue;
            ClassMenu.DepreciationDoubleDeclining.SalvageValue = salvageValue;
            ClassMenu.DepreciationDoubleDeclining.LifeTime = lifeTime;
            ClassMenu.DepreciationDoubleDeclining.Age = age;
            summary = ClassMenu.DepreciationDoubleDeclining.ToString() + radioValue;
            dataStr = ClassMenu.DepreciationDoubleDeclining.str;
        }
        else
        {
            summary = "You must be select the depreciation type";
        }
    }

    private void Clear()
    {
        startValue = default;
        salvageValue = default;
        age = default;
        lifeTime = default;
        summary = default;
    }
}

